<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books List</title>
</head>
<body>
<h1>Books</h1>
<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Publisher</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.genre?.name ?: 'None'}">Genre</td>
        <td th:text="${book.publisher?.name ?: 'None'}">Publisher</td>
        <td>
            <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a>
            <a th:href="@{/books/delete/{id}(id=${book.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/books/create}">Add New Book</a>
<br/>
<a th:href="@{/}">Back to Home</a>
</body>
</html>
